.early {
    background: hsl(217, 28%, 15%);
    margin: 5rem 20rem 0rem 20rem;
    padding: 2rem 5rem 2rem 5rem;
    text-align: center;
    .title {
        font-size: 2rem;
        padding: 2rem 0rem 0rem 0rem;
    }
    .content {
        padding: 0rem 0rem 0rem 0rem;
    }
}

.sign-up {
    background: hsl(216, 53%, 9%);
    width: 100%;
    text-align: center;
    .sign2 {
        background: hsl(217, 28%, 15%);
        width: 57.8%;
        margin-left: 20rem;
        padding-bottom: 3rem;
        .email {
            padding: 0.8rem 7rem;
            border-radius: 5rem;
            outline: none;
        }
        button {
            background: hsl(176, 68%, 64%);
            color: white;
            margin-left: 1rem;
            padding: 0.8rem 2.5rem;
            border-radius: 5rem;
            outline: none;
            cursor: pointer;
        }
    }
}

.foot {
    background: hsl(216, 53%, 9%);
    padding-top: 2rem;
    .logo {
        padding-left: 3rem;
    }
    .contact-details {
        display: flex;
        .loc-image {
            padding: 2rem 0rem 0rem 5rem;
        }
        .text {
            padding: 2rem 2rem;
            opacity: 70%;
        }
        .phone-mail {
            padding: 2rem 2rem;
            opacity: 70%;
        }
        ul {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: white;
        }
        .other-links {
            padding: 2rem 10rem;
            gap: 2rem;
        }
        .terms {
            padding: 2rem 1rem;
        }
        li {
            padding: 0rem 0rem 1rem 0rem;
        }
        .social {
            padding: 2rem 0rem 0rem 3rem;
            ul {
                display: flex;
            }
            li {
                border-radius: 50%;
                padding: 0rem 1rem 0rem 1rem;
            }
        }
    }
}

.attribution {
    font-size: 12px;
    text-align: center;
    padding: 1rem;
    a {
        color: hsl(228, 45%, 44%);
    }
}