.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    img {
        height: auto;
        max-width: 100%;
        padding-left: 30px;
    }
    ul {
        display: inline-flex;
        list-style: none;
    }
    a {
        padding: 0px 30px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        opacity: 70%;
    }
}

@media screen and (max-width:600px) {
    .nav-container {
        padding: 20px 10px;
        img {
            padding-left: 10px;
        }
        a {
            padding: 0px 10px;
        }
    }
}