.container {
    display: flex;
    padding: 5rem;
    .graphic {
        height: auto;
        max-width: 100%;
    }
    .contents {
        padding: 5rem 5rem;
    }
    .title {
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 2rem;
    }
    .content {
        padding-bottom: 2rem;
    }
    a {
        text-decoration: underline;
        color: #ffffff;
    }
}

@media screen and (max-width:600px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        .contents {
            padding: 2rem 2rem;
        }
    }
}